/* CSS pour le PopUp */

.btnPopup {
    background-color: beige;
    border: brown;
    cursor: pointer;
    font-size: 20px;
    color: black;
    display: block;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 5px 60px rgb(214, 214, 151);
    margin: auto;
    margin-bottom: 80px;
    font-size: 25px;
}

.btnPopup:hover {
    box-shadow: 0 5px 60px red;
}

.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    margin: auto;
    width: 40%;
    background-color:beige;
    border-radius: 10px ;
    box-shadow: 0 5px 60px beige;
    color: black;
    padding: 1em;
}

.btnClose {
   float: right;
    cursor: pointer;
    color: black;
    padding-right: 80px;
}

.titlePopup {
    font-size: 50px;
    color: black;
    text-align: center;
}

.addBook {
    border: 1px solid brown;
    text-align: center;
    font-size: larger;
    width: 250px;
    height: 70px;
    margin: auto;
    background-color: rgba(168, 72, 72, 0.698);
    color: black;
    border-radius: 10px;
    box-shadow: 0 5px 50px beige;
    cursor: pointer;
    margin-top:20px;
 } 

 .form_add {
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    margin: 30px auto 0 auto;
    font-size: 20px;
 }

 .addAuthor {
     font-size: 30px;
     margin-bottom: 30px;
 }

 input, select {
     width: 150px;
     display: grid;
    grid-template-columns: auto;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
 }
