

/*Modifiet Modal*/

.modal {
    border: 1px solid black;
    border-radius: 10px;
    background-color: beige;
    z-index: 10 ;
    width: 180px;
    color: black;
}

.open-button {
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    display: block;
    margin: auto;
    font-size: larger;
    background-color: beige;
    box-shadow: 0 5px 50px beige;
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-form {
    font-size: larger;
}

/*.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: maroon;
    pointer-events: none;
}*/